@model asp_assignment.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.CurrentAds.Count(); i++)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                    }
                </ol>

                <div class="carousel-inner" role="listbox">
                    @for (int i = 0; i < Model.CurrentAds.Count(); i++)
                    {
                        <div class="@(i == 0 ? "item active" : "item")">
                            <a href="@Url.Content(Model.CurrentAds[i].Url)">
                                <img src="@Url.Content(Model.CurrentAds[i].ImageUrl)" class="img-responsive">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>@Model.CurrentAds[i].TagLine</h1>
                                        <span style="font-size: small;">@Model.CurrentAds[i].Details</span>
                                    </div>
                                </div>
                            </a>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p class="lead" style="text-align: center;">
                                    Quality Bag Online Store is locally owned and operated!
                                </p>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Quality Bag Store</h2>
                                <p class="lead">
                                    Best online store for bags of all kinds! <a href="http://dochyper.unitec.ac.nz/shresk03/asp_assignment/">Qualitybag.co.nz</a>
                                </p>
                                <p>
                                    <ul>
                                        <li>Designer Bags</li>
                                        <li>Women Bag 7</li>
                                        <li>Men Bags</li>
                                        <li>Kids Bags</li>
                                    </ul>
                                    <a class="btn btn-info" href="~/shop/">Browse the Store</a>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <img src="~/images/brand/QualityBagStore.png" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p class="lead" style="text-align: center; font-size:20px">
                                    Grab the latest deals before it goes off!
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Hot Deals</h2>
                                <div class="row">
                                    @foreach (var item in Model.FeaturedProducts)
                                    {
                                        <div class="col-md-3">
                                            @Html.Partial("_productCard", item)
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
